# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/sci_compute_lag/trangerstein_book_extras

.vscode
/sci_compute_lag/boostpython/__pycache__
/sci_compute_lag/boostpython/.ipynb_checkpoints